# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Resend API Key (Email Service)
RESEND_API_KEY=

# Google OAuth (for Drive API)
VITE_GOOGLE_CLIENT_ID=

# VAPID Key for Push Notifications
VITE_FIREBASE_VAPID_KEY=
